################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SimpleRestaurantSimulation/obj/Release/.NETFramework,Version=v4.5.2.AssemblyAttributes.cs
/SimpleRestaurantSimulation/obj/Release
/SimpleRestaurantSimulation/obj/Debug/SimpleRestaurantSimulation.csprojAssemblyReference.cache
/SimpleRestaurantSimulation/obj/Debug/.NETFramework,Version=v4.5.2.AssemblyAttributes.cs
/SimpleRestaurantSimulation/obj/Debug
/SimpleRestaurantSimulation/obj
/.vs/slnx.sqlite-journal
/.vs/slnx.sqlite
/.vs/SimpleRestaurantSimulation/v16/.suo
/.vs/SimpleRestaurantSimulation/v16
/.vs/khushbakhtmahkamov/v16/.suo
SimpleRestaurantSimulation/bin/Debug/SimpleRestaurantSimulation.vshost.exe
SimpleRestaurantSimulation/bin/Debug/SimpleRestaurantSimulation.vshost.exe.config
SimpleRestaurantSimulation/bin/Debug/SimpleRestaurantSimulation.vshost.exe.manifest
SimpleRestaurantSimulation/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
SimpleRestaurantSimulation/obj/Debug/SimpleRestaurantSimulation.csproj.FileListAbsolute.txt
SimpleRestaurantSimulation/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
SimpleRestaurantSimulation/obj/Debug/SimpleRestaurantSimulation.csproj.FileListAbsolute.txt
.vs/SimpleRestaurantSimulation/v14/.suo
SimpleRestaurantSimulation/bin/Debug/SimpleRestaurantSimulation.exe
SimpleRestaurantSimulation/bin/Debug/SimpleRestaurantSimulation.pdb
SimpleRestaurantSimulation/obj/Debug/DesignTimeResolveAssemblyReferences.cache
SimpleRestaurantSimulation/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
SimpleRestaurantSimulation/obj/Debug/SimpleRestaurantSimulation.csproj.FileListAbsolute.txt
SimpleRestaurantSimulation/obj/Debug/SimpleRestaurantSimulation.csproj.GenerateResource.Cache
SimpleRestaurantSimulation/obj/Debug/SimpleRestaurantSimulation.csprojResolveAssemblyReference.cache
